body
{
    background-color:aqua;
    color: white;
}
.names_of_objects , #result_object_name , #result_accuracy
{
    color:black;
}
#camera 
{
    border: 2px dashed black;
    width:350px;
    height:300px;
}